version: '3.9'
services:
  unified-user-service-php:
    build:
      context: ./docker/php-fpm
    volumes:
      - ./unified-user-service:/app
      - /tmp/composer-cache:/.composer/cache
    working_dir: /app
    user: ${UID:-1000}:${GID:-1000}
    networks:
      - pact-demo
  unified-user-service-web:
    image: nginx:1.23-alpine
    depends_on:
      - adoption-php
    volumes:
      - ./docker/php-nginx:/etc/nginx/templates
      - ./unified-user-service/public:/app/public
    networks:
      - pact-demo
    environment:
      FPM_HOST: unified-user-service-php
      ROOT_DIR: /app/public
    ports:
      - "9900:80"
  cards-php:
    build:
      context: ./docker/php-fpm
    volumes:
      - ./cards:/app
      - /tmp/composer-cache:/.composer/cache
    working_dir: /app
    user: ${UID:-1000}:${GID:-1000}
    networks:
      - pact-demo
  cards-web:
    image: nginx:1.23-alpine
    depends_on:
      - adoption-php
    volumes:
      - ./docker/php-nginx:/etc/nginx/templates
      - ./cards/public:/app/public
    networks:
      - pact-demo
    environment:
      FPM_HOST: cards-php
      ROOT_DIR: /app/public
    ports:
      - "9901:80"

  db:
    image: postgres:14
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    volumes:
      - ./docker/db:/docker-entrypoint-initdb.d
    networks:
      - pact-demo

  pact-broker:
    image: pactfoundation/pact-broker:2
    environment:
      PACT_BROKER_PORT: '80'
      PACT_BROKER_DATABASE_URL: "postgres://broker_user:broker_password@db/broker"
    ports:
      - "9910:80"
    depends_on:
      - db
    networks:
      - pact-demo

  pact-cards-stub:
    image: pactfoundation/pact-stub-server
    command: '-b http://pact-broker -p 80 -o --provider-names=cards'
    ports:
      - "9920:80"
    depends_on:
      - pact-broker
    networks:
      - pact-demo

networks:
  pact-demo:
